<script src="../../ckeditor/ckeditor.js" type="text/javascript"></script>
<div style="position: relative; display: block; margin: 0 auto;">
    <textarea name="content" rows="" cols="" id="editor_textarea" class="ckeditor">
    </textarea>
</div>
